@import "_mixins.scss";
@import "_variable.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: inherit;
  outline: none;
  text-decoration: none;
}

// $color1: #1f1147;
// $color2: #361e70;
// $color3: #32167c;
// $color4: #6949fd;
// $color5: #49fdb8;

body {
  background: $color1;
  position: relative;
}
.header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color1;

  h1 {
    text-align: center;
    color: $color5;
    font-size: 2rem;
    padding: 0.8rem;
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;

  @include responsive('mobile'){
      width: 100%;
  }

  @include responsive('tablet'){
    width: 80%;
}

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;

    h3 {
      color: $color5;
      font-size: 16px;
    }

    h4 {
      color: #fff;
      font-size: 23px;
      margin-bottom: 10px;
    }

    .options {
      display: flex;
      align-items: center;
      margin-bottom: 14px;
      width: 100%;

      input[type="radio"] {
        display: none;
      }

      label {
        display: inline-block;
        cursor: pointer;
        width: 100%;
        padding: 10px 20px;
        border: 2px solid $color3;
        border-radius: 12px;
        background-color: $color3;
        color: #fff;
        font-size: 19px;
        transition: background 0.3s cubic-bezier(0.99, 0, 0.35, 1);
      }

      input[type="radio"]:checked ~ label {
        background: $color5;
        color: #fff;
      }

      input[type="radio"]:hover ~ label {
        border: 2px solid $color5;
      }
    }

    .btns {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .btn {
        border: none;
        border-radius: 12px;
        background: $color4;
        padding: 10px 30px;
        color: #fff;
        font-size: 17px;
        margin-top: 12px;
        cursor: pointer;
      }
    }
  }
}

.qbtns {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .btna {
    border: none;
    border-radius: 12px;
    background: $color4;
    padding: 10px 30px;
    color: #fff;
    font-size: 17px;
    margin-top: 12px;
  }
}

.popup-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  .pop-up {
    margin: 10% auto;
    background: $color1;
    color: #fff;
    width: 30%;
    min-width: 250px;
    height: 280px;
    border-radius: 14px;
    text-align: center;
    padding: 20px;
    animation: appear 0.4s ease-in-out both;

    h2 {
      color: $color5;
    }

    p span {
      font-size: 6rem;
      font-weight: 700;
    }

    .closebtn {
      border: none;
      border-radius: 12px;
      background: $color4;
      padding: 10px 30px;
      color: #fff;
      font-size: 20px;
      margin-top: 12px;
    }
  }
}

@keyframes appear {
  from,
  to {
    transform: none;
  }

  50% {
    transform: scale(0.5);
  }

  from {
    transform: scale(0);
  }
}

.correct {
  background: $color5;
  color: $color1;
}

.incorrect {
  background: crimson;
}
